---
layout: page
title: HOME
tagline: ECMAScript Daily News
---
{% include JB/setup %}
<div class="social-header">
    <a href="https://github.com/ecmascript-daily/ecmascript-daily.github.com"><i class="svg-icon github"></i></a>
    <a href="{{ BASE_PATH }}/atom.xml"><i class="svg-icon rss"></i></a>
    <a href="https://www.twitter.com/ecmascriptdaily"><i class="svg-icon twitter"></i></a>
    <div id="mc_embed_signup">
        <form action="//jser.us11.list-manage.com/subscribe/post?u=3d2f10a0ac6ad6b41153b027c&amp;id=b591184502" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe to ECMAScript Daily as Weekly</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3d2f10a0ac6ad6b41153b027c_b591184502" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
    </div>

    <!--End mc_embed_signup-->
</div>
<div class="posts">
    {% for post in site.posts %}
    <article class="post-article">
        <div class="post-article-meta">
            <i class="glyphicon glyphicon-time"></i><span class="post-article-meta-date">{{ post.date | date_to_string }}</span>
        </div>
        <div class="post-article-header">
            <h2 class="post-article-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title | markdownify | strip_html | trim }}</a></h2>
        </div>
    </article>
    {% endfor %}
</div>