---
layout: page
title: ECMAScript Daily
tagline: ECMAScript Daily News
---
{% include JB/setup %}
<div class="posts">
    {% for post in site.posts %}
    <article class="post-article">
        <div class="post-article-meta">
            <i class="glyphicon glyphicon-time"></i><span class="post-article-meta-date">{{ post.date | date_to_string }}</span>
        </div>
        <div class="post-article-header">
            <h2 class="post-article-title"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
        </div>
    </article>
    {% endfor %}
</div>